<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InStyle Jens</title>
  <link rel="stylesheet" href="../static/css/estiloProdutos.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous">
  <!--- Icones --->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body class="container-fluid bg-light">
<header class="d-flex align-items-center justify-content-around p-3">

  <div class="logo">
    <a href="../index.html"><img src="../static/img/InStyle.png" alt="Logo InStyle"
                                 class="img-fluid rounded-2"></a>
  </div>

  <nav class="navbar navbar-expand-lg rounded-pill">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse gap-5" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-5">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../templates/sobre.html">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../templates/produtos.html">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../templates/depoimentos.html">Depoimentos</a>
          </li>

          <button type="button" class="btn"
                  data-bs-toggle="modal" data-bs-target="#exampleModal"
                  data-bs-whatever="@mdo">
            <li class="nav-item">
              <a class="nav-link">Contato</a>
            </li>
          </button>

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header d-flex align-items-center bg-dark">
                  <i class="bi bi-person fs-3"></i>
                  <h1 class="modal-title fs-5 justify-content-center text-light ms-5"
                      id="exampleModalLabel">Entre em contato conosco</h1>
                  <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"
                          aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">E-mail:</label>
                      <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                      <label for="message-text" class="col-form-label">Messagem:</label>
                      <textarea class="form-control" id="message-text"></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar
                  </button>
                  <button type="button" class="btn btn-primary">Enviar messagem</button>
                </div>
              </div>
            </div>
          </div>
          <!--                    <li class="nav-item dropdown">-->
          <!--                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
          <!--                            Dropdown-->
          <!--                        </a>-->
          <!--&lt;!&ndash;                        <ul class="dropdown-menu">&ndash;&gt;-->
          <!--&lt;!&ndash;                            <li><a class="dropdown-item" href="/templates/index.html">Home</a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;                            <li><a class="dropdown-item" href="/templates/sobre.html">Sobre</a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;                            <li><a class="dropdown-item" href="/templates/produtos.html">Produtos</a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;                            <li><a class="dropdown-item" href="/templates/depoimentos.html">Depoimentos</a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;                            <li><a class="dropdown-item" href="#">Contato</a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;                            <li><hr class="dropdown-divider"></li>&ndash;&gt;-->
          <!--&lt;!&ndash;                            <li><a class="dropdown-item" href="#">Something else here</a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;                        </ul>&ndash;&gt;-->
          <!--                    </li>-->
        </ul>
        <div class="input-group flex-nowrap">
          <span class="input-group-text bg-black" id="addon-wrapping"><i class="bi bi-search iconepesquisa"></i></span>
          <input type="text" class="form-control bg-black input text-white" placeholder="Perquisar" aria-label="Username"
                 aria-describedby="addon-wrapping">
        </div>
        <!--                <form class="d-flex" role="search">-->
        <!--                    <input class="form-control me-2 rounded-pill bg-black text-danger" type="search"-->
        <!--                           placeholder="Pesquisar" aria-label="Search">-->
        <!--                    <button class="btn btn-outline-black" type="submit"><i class="bi bi-search"></i></button>-->
        <!--                </form>-->
      </div>
    </div>
  </nav>
</header>

<section class="d-flex align-items-center justify-content-center Banner z-1">
  <div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner banners">
      <div class="carousel-item active">
        <img src="/static/img/Banner2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/img/Banner3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/img/Banner1.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section class="d-flex align-items-center justify-content-center Produtos bg-black">
  <div class="fundoProdutos">
    <div class="TituloProdutos d-flex align-items-center">
      <a class="btn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        <img src="../static/img/CabideIcon.png" alt="Cabide InStyle"
             class="img-fluid rounded-2"></a>
      <h2>Jeans</h2>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel"><img src="../static/img/CabideOffCanvaPreto.png" alt="Cabide InStyle"
                                                                      class="img-fluid rounded-2"></h5>
          <button type="button" class="btn-close top-0 end-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            <p> Bem-vindos ao nosso menu de vestimentas, Esolha o seu look do dia </p>
          </div>
          <div class="dropdown mt-3 BotaoOffCanva">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
              Vestimentas
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="../templates/produtos.html">Geral</a></li>
              <li><a class="dropdown-item" href="../templates/camisas.html">Camisas</a></li>
              <li><a class="dropdown-item" href="../templates/jeans.html">Jens</a></li>
              <li><a class="dropdown-item" href="#">Shorts</a></li>
              <li><a class="dropdown-item" href="#">Calças</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row cards-produtos justify-content-around">
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="card produto" style="width: 18rem;">
          <img src="/static/img/CalcasjeansfemininasY2k.jpeg" class="card-img-top" alt="...">
          <div class="card-body d-flex align-items-center justify-content-center gap-3">
            <h5 class="card-title">
              Calças jeans femininas Y2k estilo coreano</h5>
            <p class="card-text">R$ 173,09</p>
            <button><a href="#">Ver mais</a></button>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="card produto" style="width: 18rem;">
          <img src="../static/img/RegularFitMensJens.jfif" class="card-img-top" alt="...">
          <div class="card-body d-flex align-items-center justify-content-center gap-3">
            <h5 class="card-title">Regular Fit Masculino Jens</h5>
            <p class="card-text">R$ 130,50</p>
            <button><a href="#">Ver mais</a></button>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="card produto" style="width: 18rem;">
          <img src="/static/img/Jaquetajeanscomtopcalcajeans.jfif" class="card-img-top" alt="...">
          <div class="card-body d-flex align-items-center justify-content-center gap-3">
            <h5 class="card-title">Jaqueta jeans com top calça jeans masculina</h5>
            <p class="card-text">R$ 250,69</p>
            <button><a href="#">Ver mais</a></button>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="card produto" style="width: 18rem;">
          <img src="../static/img/CalcaJeansDestroyed.jpg" class="card-img-top" alt="...">
          <div class="card-body d-flex align-items-center justify-content-center gap-3">
            <h5 class="card-title">Calça Jeans Destroyed Azul Allure - Azul</h5>
            <p class="card-text">R$ 438,90</p>
            <button><a href="#">Ver mais</a></button>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="card produto" style="width: 18rem;">
          <img src="/static/img/GlamakerMacacaojeans.jpg" class="card-img-top" alt="...">
          <div class="card-body d-flex align-items-center justify-content-center gap-3">
            <h5 class="card-title">Glamaker Macacão jeans feminino de verão</h5>
            <p class="card-text">R$ 205,45</p>
            <button><a href="#">Ver mais</a></button>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="card produto" style="width: 18rem;">
          <img src="/static/img/jeansnewgirl.jpg" class="card-img-top" alt="...">
          <div class="card-body d-flex align-items-center justify-content-center gap-3">
            <h5 class="card-title">jeans new girl black</h5>
            <p class="card-text">R$ 90,99</p>
            <button><a href="#">Ver mais</a></button>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center d-flex align-items-center BotaoProdutos">
      <button type="button" class="btn btn-primary"><i class="bi bi-arrow-right fs-2 align-items-center d-flex justify-content-center"></i></button>
    </div>
  </div>
</section>
<footer class="d-flex align-items-center justify-content-center">
  <div class="text-center">
    <p>&copy; 2024 InStyle. Todos os direitos reservados.</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#" class="text-black">Privacidade</a></li>
      <li class="list-inline-item"><a href="#" class="text-black">Termos</a></li>
      <li class="list-inline-item"><a href="#" class="text-black">Contato</a></li>
    </ul>
    <div class="iconsRedes gap-5 d-flex justify-content-evenly align-items-center'">
      <div><a href="#" class="text-black me-2"><i class="bi bi-facebook fs-1"></i></a></div>
      <div><a href="#" class="text-black me-2"><i class="bi bi-twitter fs-1"></i></a></div>
      <div><a href="#" class="text-black"><i class="bi bi-instagram fs-1"></i></a></div>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>